html, body {
    height: 100%;
    color: #e5e5e5;
    background-color: #212121;
}

.container {
    height: 100vh; /* Set the container height to 100% of the viewport height */
    display: flex; /* Use flexbox for centering the image vertically */
    align-items: center; /* Center the content vertically */
}

    .container img {
        max-height: 100%; /* Set the maximum height of the image to 100% of the container */
        width: auto; /* Allow the width to adjust automatically to maintain aspect ratio */
        display: block; /* Remove any vertical spacing */
        margin: left; /* Center the image horizontally */
        float: left;
    }