html, body {
    height: 100%;
    color: #e5e5e5;
    background-color: #212121;
}

.map-container {
    position: relative;
    overflow: scroll;

    height: 100vh; /* Set the container height to 100% of the viewport height */
    display: flex; /* Use flexbox for centering the image vertically */
    align-items: center; /* Center the content vertically */
}
.map-container img{

    max-height: 100%; /* Set the maximum height of the image to 100% of the container */
    width: auto; /* Allow the width to adjust automatically to maintain aspect ratio */
    display: block; /* Remove any vertical spacing */
    margin: left; /* Center the image horizontally */
    float: left;
}

#marker {
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
}

.rounded-green-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 60px;
    background-color: green;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    text-decoration: none;
}

.rounded-grey-button {
  display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 200px;
    width: 150px;
    height: 50px;
    background-color: rgb(104, 102, 102);
    color: white;
    font-size: 18px;
    border-radius: 30px;
    text-decoration: none;
}
.rounded-green-button + .rounded-green-button {
    margin-left: 200px;
    width: 150px;
    height: 50px;
    background-color: rgb(39, 0, 180);
}